body{
    background-color: #BCCEF8;
}



div{
    background-color: #CDFCF6;
    margin-left: 20px;
    margin-top: 5px;
}

/*class*/

.top-container{
    background-color: #CDFCF6;
}

.middle-container{
    background-color: blue;
    width: 200px;
    height: 200px;
}

.bottom-container{
    background-color: red;
    width: 200px;
    height: 200px;
}